In [1]:
#stock price exploration with sparksql

In [4]:
#initialize spark context
from pyspark import SparkContext
sc = SparkContext.getOrCreate()

In [6]:
#load data into Spark
tesla_file ='TSLA.csv'
tesla_rdd = sc.textFile(tesla_file)
tesla_rdd.take(5)

['Date,Open,High,Low,Close,AdjClose,Volume',
 '2019-07-15,248.000000,254.419998,244.860001,253.500000,253.500000,11000100',
 '2019-07-16,249.300003,253.529999,247.929993,252.380005,252.380005,8149000',
 '2019-07-17,255.669998,258.309998,253.350006,254.860001,254.860001,9764700',
 '2019-07-18,255.050003,255.750000,251.889999,253.539993,253.539993,4764500']

In [9]:
csv_rdd = tesla_rdd.map(lambda row:row.split(","))
csv_rdd.collect()

[['Date', 'Open', 'High', 'Low', 'Close', 'AdjClose', 'Volume'],
 ['2019-07-15',
  '248.000000',
  '254.419998',
  '244.860001',
  '253.500000',
  '253.500000',
  '11000100'],
 ['2019-07-16',
  '249.300003',
  '253.529999',
  '247.929993',
  '252.380005',
  '252.380005',
  '8149000'],
 ['2019-07-17',
  '255.669998',
  '258.309998',
  '253.350006',
  '254.860001',
  '254.860001',
  '9764700'],
 ['2019-07-18',
  '255.050003',
  '255.750000',
  '251.889999',
  '253.539993',
  '253.539993',
  '4764500'],
 ['2019-07-19',
  '255.690002',
  '259.959991',
  '254.619995',
  '258.179993',
  '258.179993',
  '7048400'],
 ['2019-07-22',
  '258.750000',
  '262.149994',
  '254.190002',
  '255.679993',
  '255.679993',
  '6842400'],
 ['2019-07-23',
  '256.709991',
  '260.480011',
  '254.500000',
  '260.170013',
  '260.170013',
  '5023100'],
 ['2019-07-24',
  '259.170013',
  '266.070007',
  '258.160004',
  '264.880005',
  '264.880005',
  '11072800'],
 ['2019-07-25',
  '233.500000',
  '234.500000',
  '225.550003',
  '228.820007',
  '228.820007',
  '22418300'],
 ['2019-07-26',
  '226.919998',
  '230.259995',
  '222.250000',
  '228.039993',
  '228.039993',
  '10027700'],
 ['2019-07-29',
  '227.089996',
  '235.940002',
  '226.029999',
  '235.770004',
  '235.770004',
  '9273300'],
 ['2019-07-30',
  '232.899994',
  '243.360001',
  '232.179993',
  '242.259995',
  '242.259995',
  '8109000'],
 ['2019-07-31',
  '243.000000',
  '246.679993',
  '236.649994',
  '241.610001',
  '241.610001',
  '9178200'],
 ['2019-08-01',
  '242.649994',
  '244.509995',
  '231.770004',
  '233.850006',
  '233.850006',
  '8259500'],
 ['2019-08-02',
  '231.350006',
  '236.270004',
  '229.229996',
  '234.339996',
  '234.339996',
  '6136500'],
 ['2019-08-05',
  '229.600006',
  '231.369995',
  '225.779999',
  '228.320007',
  '228.320007',
  '7028300'],
 ['2019-08-06',
  '231.880005',
  '232.500000',
  '225.750000',
  '230.750000',
  '230.750000',
  '5564200'],
 ['2019-08-07',
  '226.500000',
  '233.570007',
  '225.800003',
  '233.419998',
  '233.419998',
  '4776500'],
 ['2019-08-08',
  '234.449997',
  '239.800003',
  '232.649994',
  '238.300003',
  '238.300003',
  '5274300'],
 ['2019-08-09',
  '236.050003',
  '238.960007',
  '233.809998',
  '235.009995',
  '235.009995',
  '3898200'],
 ['2019-08-12',
  '232.990005',
  '235.770004',
  '228.750000',
  '229.009995',
  '229.009995',
  '4663900'],
 ['2019-08-13',
  '228.809998',
  '236.000000',
  '227.550003',
  '235.000000',
  '235.000000',
  '4848100'],
 ['2019-08-14',
  '231.210007',
  '231.500000',
  '216.690002',
  '219.619995',
  '219.619995',
  '9562600'],
 ['2019-08-15',
  '220.860001',
  '221.559998',
  '211.550003',
  '215.639999',
  '215.639999',
  '8159600'],
 ['2019-08-16',
  '216.660004',
  '222.240005',
  '216.020004',
  '219.940002',
  '219.940002',
  '5098500'],
 ['2019-08-19',
  '224.210007',
  '227.830002',
  '221.699997',
  '226.830002',
  '226.830002',
  '5309600'],
 ['2019-08-20',
  '227.619995',
  '229.089996',
  '224.539993',
  '225.860001',
  '225.860001',
  '4125200'],
 ['2019-08-21',
  '222.009995',
  '223.220001',
  '217.600006',
  '220.830002',
  '220.830002',
  '7794300'],
 ['2019-08-22',
  '222.800003',
  '225.399994',
  '218.220001',
  '222.149994',
  '222.149994',
  '6559000'],
 ['2019-08-23',
  '219.970001',
  '221.169998',
  '211.000000',
  '211.399994',
  '211.399994',
  '8538600'],
 ['2019-08-26',
  '213.600006',
  '215.020004',
  '211.539993',
  '215.000000',
  '215.000000',
  '5051900'],
 ['2019-08-27',
  '215.740005',
  '218.800003',
  '212.029999',
  '214.080002',
  '214.080002',
  '5416200'],
 ['2019-08-28',
  '213.690002',
  '217.250000',
  '212.309998',
  '215.589996',
  '215.589996',
  '3225500'],
 ['2019-08-29',
  '219.000000',
  '223.399994',
  '218.000000',
  '221.710007',
  '221.710007',
  '5179500'],
 ['2019-08-30',
  '229.149994',
  '232.440002',
  '224.210007',
  '225.610001',
  '225.610001',
  '9320600'],
 ['2019-09-03',
  '224.080002',
  '228.949997',
  '223.160004',
  '225.009995',
  '225.009995',
  '5354100'],
 ['2019-09-04',
  '226.889999',
  '228.460007',
  '219.210007',
  '220.679993',
  '220.679993',
  '5761000'],
 ['2019-09-05',
  '222.500000',
  '229.800003',
  '220.850006',
  '229.580002',
  '229.580002',
  '7395300'],
 ['2019-09-06',
  '227.199997',
  '229.639999',
  '225.169998',
  '227.449997',
  '227.449997',
  '4189400'],
 ['2019-09-09',
  '230.000000',
  '233.759995',
  '229.229996',
  '231.789993',
  '231.789993',
  '4802700'],
 ['2019-09-10',
  '230.800003',
  '235.539993',
  '228.940002',
  '235.539993',
  '235.539993',
  '4883700'],
 ['2019-09-11',
  '237.380005',
  '248.169998',
  '236.000000',
  '247.100006',
  '247.100006',
  '10042800'],
 ['2019-09-12',
  '247.699997',
  '253.500000',
  '244.399994',
  '245.869995',
  '245.869995',
  '8581200'],
 ['2019-09-13',
  '246.960007',
  '248.449997',
  '244.869995',
  '245.199997',
  '245.199997',
  '5313100'],
 ['2019-09-16',
  '246.000000',
  '247.429993',
  '241.169998',
  '242.809998',
  '242.809998',
  '4728100'],
 ['2019-09-17',
  '242.470001',
  '245.600006',
  '240.369995',
  '244.789993',
  '244.789993',
  '3865400'],
 ['2019-09-18',
  '245.000000',
  '248.169998',
  '242.369995',
  '243.490005',
  '243.490005',
  '4170200'],
 ['2019-09-19',
  '246.000000',
  '247.940002',
  '244.839996',
  '246.600006',
  '246.600006',
  '4795800'],
 ['2019-09-20',
  '246.490005',
  '246.949997',
  '238.160004',
  '240.619995',
  '240.619995',
  '6353000'],
 ['2019-09-23',
  '240.000000',
  '245.179993',
  '239.220001',
  '241.229996',
  '241.229996',
  '4340200'],
 ['2019-09-24',
  '241.520004',
  '241.990005',
  '222.610001',
  '223.210007',
  '223.210007',
  '12891500'],
 ['2019-09-25',
  '224.559998',
  '228.979996',
  '218.360001',
  '228.699997',
  '228.699997',
  '9427100'],
 ['2019-09-26',
  '230.660004',
  '243.309998',
  '227.399994',
  '242.559998',
  '242.559998',
  '11884500'],
 ['2019-09-27',
  '242.199997',
  '248.710007',
  '238.729996',
  '242.130005',
  '242.130005',
  '11116400'],
 ['2019-09-30',
  '243.000000',
  '243.979996',
  '236.110001',
  '240.869995',
  '240.869995',
  '5879800'],
 ['2019-10-01',
  '241.500000',
  '245.949997',
  '239.130005',
  '244.690002',
  '244.690002',
  '6162600'],
 ['2019-10-02',
  '243.289993',
  '244.649994',
  '239.429993',
  '243.130005',
  '243.130005',
  '5631400'],
 ['2019-10-03',
  '231.860001',
  '234.479996',
  '224.279999',
  '233.029999',
  '233.029999',
  '15084500'],
 ['2019-10-04',
  '231.610001',
  '234.779999',
  '228.070007',
  '231.429993',
  '231.429993',
  '7995000'],
 ['2019-10-07',
  '229.800003',
  '238.559998',
  '228.550003',
  '237.720001',
  '237.720001',
  '8064200'],
 ['2019-10-08',
  '235.869995',
  '243.940002',
  '234.500000',
  '240.050003',
  '240.050003',
  '8678200'],
 ['2019-10-09',
  '241.320007',
  '247.300003',
  '240.649994',
  '244.529999',
  '244.529999',
  '6894400'],
 ['2019-10-10',
  '245.279999',
  '249.279999',
  '241.580002',
  '244.740005',
  '244.740005',
  '6283300'],
 ['2019-10-11',
  '247.149994',
  '251.080002',
  '246.809998',
  '247.889999',
  '247.889999',
  '8475400'],
 ['2019-10-14',
  '247.899994',
  '258.549988',
  '247.130005',
  '256.959991',
  '256.959991',
  '10205000'],
 ['2019-10-15',
  '257.700012',
  '260.000000',
  '254.119995',
  '257.890015',
  '257.890015',
  '6432800'],
 ['2019-10-16',
  '257.390015',
  '262.100006',
  '256.920013',
  '259.750000',
  '259.750000',
  '6684100'],
 ['2019-10-17',
  '262.500000',
  '264.779999',
  '260.170013',
  '261.970001',
  '261.970001',
  '4769300'],
 ['2019-10-18',
  '260.700012',
  '262.799988',
  '255.100006',
  '256.950012',
  '256.950012',
  '5749800'],
 ['2019-10-21',
  '258.329987',
  '259.500000',
  '250.179993',
  '253.500000',
  '253.500000',
  '5020300'],
 ['2019-10-22',
  '254.320007',
  '258.329987',
  '250.850006',
  '255.580002',
  '255.580002',
  '4600800'],
 ['2019-10-23',
  '254.500000',
  '256.140015',
  '251.350006',
  '254.679993',
  '254.679993',
  '5261100'],
 ['2019-10-24',
  '298.369995',
  '304.929993',
  '289.200012',
  '299.679993',
  '299.679993',
  '29720900'],
 ['2019-10-25',
  '297.720001',
  '330.000000',
  '296.109985',
  '328.130005',
  '328.130005',
  '30006100'],
 ['2019-10-28',
  '327.540009',
  '340.839996',
  '322.600006',
  '327.709991',
  '327.709991',
  '18870300'],
 ['2019-10-29',
  '319.989990',
  '324.299988',
  '314.750000',
  '316.220001',
  '316.220001',
  '12684300'],
 ['2019-10-30',
  '313.000000',
  '318.790009',
  '309.970001',
  '315.010010',
  '315.010010',
  '9641800'],
 ['2019-10-31',
  '313.100006',
  '319.000000',
  '313.000000',
  '314.920013',
  '314.920013',
  '5067000'],
 ['2019-11-01',
  '316.320007',
  '316.480011',
  '309.799988',
  '313.309998',
  '313.309998',
  '6383900'],
 ['2019-11-04',
  '314.799988',
  '321.940002',
  '309.260010',
  '317.470001',
  '317.470001',
  '8787000'],
 ['2019-11-05',
  '319.619995',
  '323.510010',
  '316.119995',
  '317.220001',
  '317.220001',
  '6943400'],
 ['2019-11-06',
  '318.000000',
  '326.720001',
  '314.500000',
  '326.579987',
  '326.579987',
  '7940900'],
 ['2019-11-07',
  '329.140015',
  '341.500000',
  '328.019989',
  '335.540009',
  '335.540009',
  '14467300'],
 ['2019-11-08',
  '334.500000',
  '337.459991',
  '332.500000',
  '337.140015',
  '337.140015',
  '6069200'],
 ['2019-11-11',
  '343.950012',
  '349.190002',
  '342.000000',
  '345.089996',
  '345.089996',
  '9986700'],
 ['2019-11-12',
  '346.899994',
  '350.369995',
  '344.040009',
  '349.929993',
  '349.929993',
  '7359400'],
 ['2019-11-13',
  '355.000000',
  '356.329987',
  '345.179993',
  '346.109985',
  '346.109985',
  '8420100'],
 ['2019-11-14',
  '346.109985',
  '353.839996',
  '342.910004',
  '349.350006',
  '349.350006',
  '6464900'],
 ['2019-11-15',
  '350.640015',
  '352.799988',
  '348.359985',
  '352.170013',
  '352.170013',
  '4809000'],
 ['2019-11-18',
  '352.920013',
  '353.149994',
  '346.100006',
  '349.989990',
  '349.989990',
  '4400400'],
 ['2019-11-19',
  '351.750000',
  '359.989990',
  '347.799988',
  '359.519989',
  '359.519989',
  '7724800'],
 ['2019-11-20',
  '360.000000',
  '361.200012',
  '349.570007',
  '352.220001',
  '352.220001',
  '6725100'],
 ['2019-11-21',
  '354.510010',
  '360.839996',
  '354.000000',
  '354.829987',
  '354.829987',
  '6110000'],
 ['2019-11-22',
  '340.160004',
  '341.000000',
  '330.000000',
  '333.040009',
  '333.040009',
  '16870600'],
 ['2019-11-25',
  '344.320007',
  '344.570007',
  '334.459991',
  '336.339996',
  '336.339996',
  '12339500'],
 ['2019-11-26',
  '335.269989',
  '335.500000',
  '327.100006',
  '328.920013',
  '328.920013',
  '7947400'],
 ['2019-11-27',
  '331.119995',
  '333.929993',
  '328.570007',
  '331.290009',
  '331.290009',
  '5555600'],
 ['2019-11-29',
  '331.109985',
  '331.260010',
  '327.500000',
  '329.940002',
  '329.940002',
  '2465600'],
 ['2019-12-02',
  '329.399994',
  '336.380005',
  '328.690002',
  '334.869995',
  '334.869995',
  '6074500'],
 ['2019-12-03',
  '332.619995',
  '337.910004',
  '332.190002',
  '336.200012',
  '336.200012',
  '6573700'],
 ['2019-12-04',
  '337.750000',
  '337.859985',
  '332.850006',
  '333.029999',
  '333.029999',
  '5533000'],
 ['2019-12-05',
  '332.829987',
  '334.420013',
  '327.250000',
  '330.369995',
  '330.369995',
  '3724600'],
 ['2019-12-06',
  '335.000000',
  '338.859985',
  '334.769989',
  '335.890015',
  '335.890015',
  '7612400'],
 ['2019-12-09',
  '336.589996',
  '344.450012',
  '335.079987',
  '339.529999',
  '339.529999',
  '9023100'],
 ['2019-12-10',
  '339.959991',
  '350.730011',
  '339.309998',
  '348.839996',
  '348.839996',
  '8828300'],
 ['2019-12-11',
  '351.880005',
  '357.190002',
  '351.089996',
  '352.700012',
  '352.700012',
  '6897800'],
 ['2019-12-12',
  '354.920013',
  '362.739990',
  '353.230011',
  '359.679993',
  '359.679993',
  '7763900'],
 ['2019-12-13',
  '361.049988',
  '365.209991',
  '354.640015',
  '358.390015',
  '358.390015',
  '6570900'],
 ['2019-12-16',
  '362.549988',
  '383.609985',
  '362.500000',
  '381.500000',
  '381.500000',
  '18174200'],
 ['2019-12-17',
  '378.989990',
  '385.500000',
  '375.899994',
  '378.989990',
  '378.989990',
  '8496800'],
 ['2019-12-18',
  '380.630005',
  '395.220001',
  '380.579987',
  '393.149994',
  '393.149994',
  '14121000'],
 ['2019-12-19',
  '397.320007',
  '406.850006',
  '396.500000',
  '404.040009',
  '404.040009',
  '18107100'],
 ['2019-12-20',
  '410.290009',
  '413.000000',
  '400.190002',
  '405.589996',
  '405.589996',
  '14752700'],
 ['2019-12-23',
  '411.779999',
  '422.010010',
  '410.000000',
  '419.220001',
  '419.220001',
  '13319600'],
 ['2019-12-24',
  '418.359985',
  '425.470001',
  '412.690002',
  '425.250000',
  '425.250000',
  '8054700'],
 ['2019-12-26',
  '427.910004',
  '433.480011',
  '426.350006',
  '430.940002',
  '430.940002',
  '10633900'],
 ['2019-12-27',
  '435.000000',
  '435.309998',
  '426.109985',
  '430.380005',
  '430.380005',
  '9945700'],
 ['2019-12-30',
  '428.790009',
  '429.000000',
  '409.260010',
  '414.700012',
  '414.700012',
  '12586400'],
 ['2019-12-31',
  '405.000000',
  '421.290009',
  '402.079987',
  '418.329987',
  '418.329987',
  '10285700'],
 ['2020-01-02',
  '424.500000',
  '430.700012',
  '421.709991',
  '430.260010',
  '430.260010',
  '9532100'],
 ['2020-01-03',
  '440.500000',
  '454.000000',
  '436.920013',
  '443.010010',
  '443.010010',
  '17778500'],
 ['2020-01-06',
  '440.470001',
  '451.559998',
  '440.000000',
  '451.540009',
  '451.540009',
  '10133000'],
 ['2020-01-07',
  '461.399994',
  '471.630005',
  '453.359985',
  '469.059998',
  '469.059998',
  '17882100'],
 ['2020-01-08',
  '473.700012',
  '498.489990',
  '468.230011',
  '492.140015',
  '492.140015',
  '31144300'],
 ['2020-01-09',
  '497.100006',
  '498.799988',
  '472.869995',
  '481.339996',
  '481.339996',
  '28440400'],
 ['2020-01-10',
  '481.790009',
  '484.940002',
  '473.700012',
  '478.149994',
  '478.149994',
  '12959500'],
 ['2020-01-13',
  '493.500000',
  '525.630005',
  '492.000000',
  '524.859985',
  '524.859985',
  '26517600'],
 ['2020-01-14',
  '544.260010',
  '547.409973',
  '524.900024',
  '537.919983',
  '537.919983',
  '28996200'],
 ['2020-01-15',
  '529.760010',
  '537.840027',
  '516.789978',
  '518.500000',
  '518.500000',
  '17368800'],
 ['2020-01-16',
  '493.750000',
  '514.460022',
  '492.170013',
  '513.489990',
  '513.489990',
  '21736700'],
 ['2020-01-17',
  '507.609985',
  '515.669983',
  '503.160004',
  '510.500000',
  '510.500000',
  '13629100'],
 ['2020-01-21',
  '530.250000',
  '548.580017',
  '528.409973',
  '547.200012',
  '547.200012',
  '17803500'],
 ['2020-01-22',
  '571.890015',
  '594.500000',
  '559.099976',
  '569.559998',
  '569.559998',
  '31369000'],
 ['2020-01-23',
  '564.250000',
  '582.000000',
  '555.599976',
  '572.200012',
  '572.200012',
  '19651000'],
 ['2020-01-24',
  '570.630005',
  '573.859985',
  '554.260010',
  '564.820007',
  '564.820007',
  '14353600'],
 ['2020-01-27',
  '541.989990',
  '564.440002',
  '539.280029',
  '558.020020',
  '558.020020',
  '13608100'],
 ['2020-01-28',
  '568.489990',
  '576.809998',
  '558.080017',
  '566.900024',
  '566.900024',
  '11788500'],
 ['2020-01-29',
  '575.690002',
  '589.799988',
  '567.429993',
  '580.989990',
  '580.989990',
  '17801500'],
 ['2020-01-30',
  '632.419983',
  '650.880005',
  '618.000000',
  '640.809998',
  '640.809998',
  '29005700'],
 ['2020-01-31',
  '640.000000',
  '653.000000',
  '632.520020',
  '650.570007',
  '650.570007',
  '15719300'],
 ['2020-02-03',
  '673.690002',
  '786.140015',
  '673.520020',
  '780.000000',
  '780.000000',
  '47233500'],
 ['2020-02-04',
  '882.960022',
  '968.989990',
  '833.880005',
  '887.059998',
  '887.059998',
  '60938800'],
 ['2020-02-05',
  '823.260010',
  '845.979980',
  '704.109985',
  '734.700012',
  '734.700012',
  '48423800'],
 ['2020-02-06',
  '699.919983',
  '795.830017',
  '687.000000',
  '748.960022',
  '748.960022',
  '39880800'],
 ['2020-02-07',
  '730.549988',
  '769.750000',
  '730.000000',
  '748.070007',
  '748.070007',
  '17063500'],
 ['2020-02-10',
  '800.000000',
  '819.989990',
  '752.400024',
  '771.280029',
  '771.280029',
  '24689200'],
 ['2020-02-11',
  '768.789978',
  '783.510010',
  '758.000000',
  '774.380005',
  '774.380005',
  '11697500'],
 ['2020-02-12',
  '777.869995',
  '789.750000',
  '763.369995',
  '767.289978',
  '767.289978',
  '12022500'],
 ['2020-02-13',
  '741.840027',
  '818.000000',
  '735.000000',
  '804.000000',
  '804.000000',
  '26289300'],
 ['2020-02-14',
  '787.219971',
  '812.969971',
  '785.500000',
  '800.030029',
  '800.030029',
  '15693700'],
 ['2020-02-18',
  '841.599976',
  '860.000000',
  '832.359985',
  '858.400024',
  '858.400024',
  '16381700'],
 ['2020-02-19',
  '923.500000',
  '944.780029',
  '901.020020',
  '917.419983',
  '917.419983',
  '25423000'],
 ['2020-02-20',
  '911.950012',
  '912.000000',
  '859.940002',
  '899.409973',
  '899.409973',
  '17634900'],
 ['2020-02-21',
  '906.979980',
  '913.059998',
  '880.450012',
  '901.000000',
  '901.000000',
  '14314800'],
 ['2020-02-24',
  '839.000000',
  '863.500000',
  '822.200012',
  '833.789978',
  '833.789978',
  '15192200'],
 ['2020-02-25',
  '849.000000',
  '856.599976',
  '787.000000',
  '799.909973',
  '799.909973',
  '17290500'],
 ['2020-02-26',
  '782.500000',
  '813.309998',
  '776.109985',
  '778.799988',
  '778.799988',
  '14085500'],
 ['2020-02-27',
  '730.000000',
  '739.770020',
  '669.000000',
  '679.000000',
  '679.000000',
  '24149300'],
 ['2020-02-28',
  '629.700012',
  '690.520020',
  '611.520020',
  '667.989990',
  '667.989990',
  '24564200'],
 ['2020-03-02',
  '711.260010',
  '743.690002',
  '686.669983',
  '743.619995',
  '743.619995',
  '20195000'],
 ['2020-03-03',
  '805.000000',
  '806.979980',
  '716.109985',
  '745.510010',
  '745.510010',
  '25784000'],
 ['2020-03-04',
  '763.960022',
  '766.520020',
  '724.729980',
  '749.500000',
  '749.500000',
  '15049000'],
 ['2020-03-05',
  '723.770020',
  '745.750000',
  '718.070007',
  '724.539978',
  '724.539978',
  '10852700'],
 ['2020-03-06',
  '690.000000',
  '707.000000',
  '684.270020',
  '703.479980',
  '703.479980',
  '12662900'],
 ['2020-03-09',
  '605.390015',
  '663.000000',
  '605.000000',
  '608.000000',
  '608.000000',
  '17073700'],
 ['2020-03-10',
  '659.429993',
  '668.000000',
  '608.000000',
  '645.330017',
  '645.330017',
  '15594400'],
 ['2020-03-11',
  '640.200012',
  '653.580017',
  '613.000000',
  '634.229980',
  '634.229980',
  '13322500'],
 ['2020-03-12',
  '580.890015',
  '594.500000',
  '546.250000',
  '560.549988',
  '560.549988',
  '18909100'],
 ['2020-03-13',
  '595.000000',
  '607.570007',
  '502.000000',
  '546.619995',
  '546.619995',
  '22640300'],
 ['2020-03-16',
  '469.500000',
  '494.869995',
  '442.170013',
  '445.070007',
  '445.070007',
  '20489500'],
 ['2020-03-17',
  '440.010010',
  '471.850006',
  '396.000000',
  '430.200012',
  '430.200012',
  '23994600'],
 ['2020-03-18',
  '389.000000',
  '404.859985',
  '350.510010',
  '361.220001',
  '361.220001',
  '23786200'],
 ['2020-03-19',
  '374.700012',
  '452.000000',
  '358.459991',
  '427.640015',
  '427.640015',
  '30195500'],
 ['2020-03-20',
  '438.200012',
  '477.000000',
  '425.790009',
  '427.529999',
  '427.529999',
  '28285500'],
 ['2020-03-23',
  '433.600006',
  '442.000000',
  '410.500000',
  '434.290009',
  '434.290009',
  '16454500'],
 ['2020-03-24',
  '477.299988',
  '513.690002',
  '474.000000',
  '505.000000',
  '505.000000',
  '22895200'],
 ['2020-03-25',
  '545.250000',
  '557.000000',
  '511.109985',
  '539.250000',
  '539.250000',
  '21222700'],
 ['2020-03-26',
  '547.390015',
  '560.000000',
  '512.250000',
  '528.159973',
  '528.159973',
  '17380700'],
 ['2020-03-27',
  '505.000000',
  '525.799988',
  '494.029999',
  '514.359985',
  '514.359985',
  '14377400'],
 ['2020-03-30',
  '510.260010',
  '516.650024',
  '491.230011',
  '502.130005',
  '502.130005',
  '11998100'],
 ['2020-03-31',
  '501.250000',
  '542.960022',

In [12]:
from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)

In [21]:
tesla_df = csv_rdd.toDF(['date','open','high','low','close','adjclose','volume'])

In [15]:
amazon_file = 'AMZN.csv'
amazon_df = sqlContext.read.load(amazon_file,
                                format = 'com.databricks.spark.csv',
                                header = 'true',
                                inferSchema='true')

In [16]:
amazon_df.take(2)

[Row(Date='2019-07-15', Open=2021.400024, High=2022.900024, Low=2001.550049, Close=2020.98999, AdjClose=2020.98999, Volume=2981300),
 Row(Date='2019-07-16', Open=2010.579956, High=2026.319946, Low=2001.219971, Close=2009.900024, AdjClose=2009.900024, Volume=2618200)]

In [17]:
amazon_df.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- AdjClose: double (nullable = true)
 |-- Volume: integer (nullable = true)

In [18]:
amazon_df.count()

253

In [20]:
import pandas
amazon_df.toPandas().head(10)

,Date,Open,High,Low,Close,AdjClose,Volume
0,2019-07-15,2021.400024,2022.900024,2001.550049,2020.989990,2020.989990,2981300
1,2019-07-16,2010.579956,2026.319946,2001.219971,2009.900024,2009.900024,2618200
2,2019-07-17,2007.050049,2012.000000,1992.030029,1992.030029,1992.030029,2558800
3,2019-07-18,1980.010010,1987.500000,1951.550049,1977.900024,1977.900024,3504300
4,2019-07-19,1991.209961,1996.000000,1962.229980,1964.520020,1964.520020,3185600
5,2019-07-22,1971.140015,1989.000000,1958.260010,1985.630005,1985.630005,2900000
6,2019-07-23,1995.989990,1997.790039,1973.130005,1994.489990,1994.489990,2703500
7,2019-07-24,1969.300049,2001.300049,1965.869995,2000.810059,2000.810059,2631300
8,2019-07-25,2001.000000,2001.199951,1972.719971,1973.819946,1973.819946,4136500
9,2019-07-26,1942.000000,1950.900024,1924.510010,1943.050049,1943.050049,4927100

In [22]:
tesla_file = 'TSLA.csv'
tesla_df = sqlContext.read.load(amazon_file,
                                format = 'com.databricks.spark.csv',
                                header = 'true',
                                inferSchema='true')

In [23]:
google_file = 'GOOG.csv'
google_df = sqlContext.read.load(amazon_file,
                                format = 'com.databricks.spark.csv',
                                header = 'true',
                                inferSchema='true')

In [26]:
from pyspark.sql.functions import year, month
google_df.select(year('Date').alias('yr'),'Close').groupby('yr').avg('Close').sort('yr').show()

+----+------------------+
|  yr|        avg(Close)|
+----+------------------+
|2019|1800.6161329411755|
|2020| 2236.414478798507|
+----+------------------+

In [32]:
amazon_df.select(year('Date').alias('Year'),month('Date').alias('Month'),'Low') \
.groupby('Year','Month').avg('Low').sort('Year','Month').show()

+----+-----+------------------+
|Year|Month|          avg(Low)|
+----+-----+------------------+
|2019|    7|1948.1946176153847|
|2019|    8|1778.2340920454546|
|2019|    9|     1784.68599235|
|2019|   10|1736.6047840869564|
|2019|   11|1764.3005004499998|
|2019|   12|1773.8466622380954|
|2020|    1| 1870.354288809524|
|2020|    2|2045.0563194210524|
|2020|    3|1825.1590964090908|
|2020|    4|2185.9347679523808|
|2020|    5|     2364.48549805|
|2020|    6| 2579.099553909091|
|2020|    7|2976.1799859999996|
+----+-----+------------------+

In [33]:
amazon_df.registerTempTable('amazon_stocks')

In [34]:
google_df.registerTempTable('google_stocks')

In [35]:
tesla_df.registerTempTable('tesla_stocks')

In [37]:
sqlContext.sql('SELECT * FROM amazon_stocks').show(5)

+----------+-----------+-----------+-----------+-----------+-----------+-------+
|      Date|       Open|       High|        Low|      Close|   AdjClose| Volume|
+----------+-----------+-----------+-----------+-----------+-----------+-------+
|2019-07-15|2021.400024|2022.900024|2001.550049| 2020.98999| 2020.98999|2981300|
|2019-07-16|2010.579956|2026.319946|2001.219971|2009.900024|2009.900024|2618200|
|2019-07-17|2007.050049|     2012.0|1992.030029|1992.030029|1992.030029|2558800|
|2019-07-18| 1980.01001|     1987.5|1951.550049|1977.900024|1977.900024|3504300|
|2019-07-19|1991.209961|     1996.0| 1962.22998| 1964.52002| 1964.52002|3185600|
+----------+-----------+-----------+-----------+-----------+-----------+-------+
only showing top 5 rows

In [39]:
sqlContext.sql('SELECT year(Date) as year, month(Date) as month, avg(Close) from amazon_stocks group by year, month').show()

+----+-----+------------------+
|year|month|        avg(Close)|
+----+-----+------------------+
|2019|   10|1752.3317498695653|
|2020|    6|      2613.5454545|
|2020|    3|1872.3104358636365|
|2019|    8|1793.6027220909093|
|2020|    4|2228.7052408571426|
|2020|    1|1884.2376128571425|
|2019|    9|     1799.12099615|
|2019|   12|1785.7728446190476|
|2020|    7| 3053.100016222222|
|2020|    2|2066.1752672631574|
|2019|    7|1964.6846265384618|
|2019|   11|      1774.2939941|
|2020|    5|2394.1840209499996|
+----+-----+------------------+

In [40]:
sqlContext.sql('SELECT Date, Open, Close, abs(Close - Open) as dif FROM google_stocks WHERE abs(Close - Open) > 4').show()

+----------+-----------+-----------+------------------+
|      Date|       Open|      Close|               dif|
+----------+-----------+-----------+------------------+
|2019-07-17|2007.050049|1992.030029|15.020019999999931|
|2019-07-19|1991.209961| 1964.52002| 26.68994100000009|
|2019-07-22|1971.140015|1985.630005|14.489990000000034|
|2019-07-24|1969.300049|2000.810059|31.510009999999966|
|2019-07-25|     2001.0|1973.819946|27.180053999999927|
|2019-07-29|     1930.0|1912.449951|17.550048999999944|
|2019-07-30|1891.119995|1898.530029| 7.410033999999996|
|2019-07-31|1898.109985|1866.780029| 31.32995600000004|
|2019-08-01|1871.719971|1855.319946|16.400024999999914|
|2019-08-02|1845.069946| 1823.23999| 21.82995600000004|
|2019-08-05|1770.219971|1765.130005| 5.089966000000004|
|2019-08-06| 1792.22998|1787.829956|  4.40002400000003|
|2019-08-07| 1773.98999|1793.400024|19.410033999999996|
|2019-08-08|     1806.0|1832.890015| 26.89001499999995|
|2019-08-09|1828.949951|1807.579956|21.369995000000017|
|2019-08-12| 1795.98999|1784.920044|11.069946000000073|
|2019-08-13|     1783.0|1824.339966|41.339966000000004|
|2019-08-14| 1793.01001|1762.959961|30.050048999999944|
|2019-08-15| 1781.98999|1776.119995| 5.869995000000017|
|2019-08-20|     1814.5|1801.380005|13.119995000000017|
+----------+-----------+-----------+------------------+
only showing top 20 rows

In [43]:
sqlContext.sql("SELECT year(Date) AS year, \
                MAX(AdjClose), MIN(AdjClose) \
                FROM tesla_stocks \
                GROUP BY year").show()

+----+-------------+-------------+
|year|max(AdjClose)|min(AdjClose)|
+----+-------------+-------------+
|2019|   2020.98999|   1705.51001|
|2020|       3200.0|  1676.609985|
+----+-------------+-------------+

In [52]:
joinclose_df = sqlContext.sql("SELECT tesla_stocks.Date, \
               tesla_stocks.Close AS teslaClose, \
               amazon_stocks.Close AS amazonClose, \
               google_stocks.Close AS googleClose \
               FROM tesla_stocks \
               JOIN google_stocks ON tesla_stocks.Date = google_stocks.Date \
               JOIN amazon_stocks ON amazon_stocks.Date = tesla_stocks.Date")

In [53]:
joinclose_df.show()

+----------+-----------+-----------+-----------+
|      Date| teslaClose|amazonClose|googleClose|
+----------+-----------+-----------+-----------+
|2019-07-15| 2020.98999| 2020.98999| 2020.98999|
|2019-07-16|2009.900024|2009.900024|2009.900024|
|2019-07-17|1992.030029|1992.030029|1992.030029|
|2019-07-18|1977.900024|1977.900024|1977.900024|
|2019-07-19| 1964.52002| 1964.52002| 1964.52002|
|2019-07-22|1985.630005|1985.630005|1985.630005|
|2019-07-23| 1994.48999| 1994.48999| 1994.48999|
|2019-07-24|2000.810059|2000.810059|2000.810059|
|2019-07-25|1973.819946|1973.819946|1973.819946|
|2019-07-26|1943.050049|1943.050049|1943.050049|
|2019-07-29|1912.449951|1912.449951|1912.449951|
|2019-07-30|1898.530029|1898.530029|1898.530029|
|2019-07-31|1866.780029|1866.780029|1866.780029|
|2019-08-01|1855.319946|1855.319946|1855.319946|
|2019-08-02| 1823.23999| 1823.23999| 1823.23999|
|2019-08-05|1765.130005|1765.130005|1765.130005|
|2019-08-06|1787.829956|1787.829956|1787.829956|
|2019-08-07|1793.400024|1793.400024|1793.400024|
|2019-08-08|1832.890015|1832.890015|1832.890015|
|2019-08-09|1807.579956|1807.579956|1807.579956|
+----------+-----------+-----------+-----------+
only showing top 20 rows

In [58]:
joinclose_df1 = sqlContext.sql("SELECT  YEAR(tesla_stocks.Date) AS YEAR, \
               MONTH(tesla_stocks.DATE) AS MONTH, \
               AVG(tesla_stocks.Close) AS AvgTeslaClose, \
               AVG(amazon_stocks.Close) AS AvgAmazonClose, \
               AVG(google_stocks.Close) AS AvgGoogleClose \
               FROM tesla_stocks \
               JOIN google_stocks ON tesla_stocks.Date = google_stocks.Date \
               JOIN amazon_stocks ON amazon_stocks.Date = tesla_stocks.Date \
               GROUP BY YEAR, MONTH \
               ORDER BY YEAR, MONTH")

In [59]:
joinclose_df1.show()

+----+-----+------------------+------------------+------------------+
|YEAR|MONTH|     AvgTeslaClose|    AvgAmazonClose|    AvgGoogleClose|
+----+-----+------------------+------------------+------------------+
|2019|    7|1964.6846265384618|1964.6846265384618|1964.6846265384618|
|2019|    8|1793.6027220909093|1793.6027220909093|1793.6027220909093|
|2019|    9|     1799.12099615|     1799.12099615|     1799.12099615|
|2019|   10|1752.3317498695653|1752.3317498695653|1752.3317498695653|
|2019|   11|      1774.2939941|      1774.2939941|      1774.2939941|
|2019|   12|1785.7728446190476|1785.7728446190476|1785.7728446190476|
|2020|    1|1884.2376128571425|1884.2376128571425|1884.2376128571425|
|2020|    2|2066.1752672631574|2066.1752672631574|2066.1752672631574|
|2020|    3|1872.3104358636365|1872.3104358636365|1872.3104358636365|
|2020|    4|2228.7052408571426|2228.7052408571426|2228.7052408571426|
|2020|    5|2394.1840209499996|2394.1840209499996|2394.1840209499996|
|2020|    6|      2613.5454545|      2613.5454545|      2613.5454545|
|2020|    7| 3053.100016222222| 3053.100016222222| 3053.100016222222|
+----+-----+------------------+------------------+------------------+

In [60]:
#Save Spark Dataframes in Parquet format
joinclose_df.write.format("parquet").save("joinStock.parquet")
joinclose_df1.write.format("parquet").save("joinStock1.parquet")

In [61]:
final_df = sqlContext.read.parquet("joinStock.parquet")
final_df1 = sqlContext.read.parquet("joinStock1.parquet")

In [62]:
final_df.show()

+----------+-----------+-----------+-----------+
|      Date| teslaClose|amazonClose|googleClose|
+----------+-----------+-----------+-----------+
|2019-07-15| 2020.98999| 2020.98999| 2020.98999|
|2019-07-16|2009.900024|2009.900024|2009.900024|
|2019-07-17|1992.030029|1992.030029|1992.030029|
|2019-07-18|1977.900024|1977.900024|1977.900024|
|2019-07-19| 1964.52002| 1964.52002| 1964.52002|
|2019-07-22|1985.630005|1985.630005|1985.630005|
|2019-07-23| 1994.48999| 1994.48999| 1994.48999|
|2019-07-24|2000.810059|2000.810059|2000.810059|
|2019-07-25|1973.819946|1973.819946|1973.819946|
|2019-07-26|1943.050049|1943.050049|1943.050049|
|2019-07-29|1912.449951|1912.449951|1912.449951|
|2019-07-30|1898.530029|1898.530029|1898.530029|
|2019-07-31|1866.780029|1866.780029|1866.780029|
|2019-08-01|1855.319946|1855.319946|1855.319946|
|2019-08-02| 1823.23999| 1823.23999| 1823.23999|
|2019-08-05|1765.130005|1765.130005|1765.130005|
|2019-08-06|1787.829956|1787.829956|1787.829956|
|2019-08-07|1793.400024|1793.400024|1793.400024|
|2019-08-08|1832.890015|1832.890015|1832.890015|
|2019-08-09|1807.579956|1807.579956|1807.579956|
+----------+-----------+-----------+-----------+
only showing top 20 rows

In [63]:
final_df.printSchema()

root
 |-- Date: string (nullable = true)
 |-- teslaClose: double (nullable = true)
 |-- amazonClose: double (nullable = true)
 |-- googleClose: double (nullable = true)